body {
    font-family: "Segoe UI", Arial;
    margin: 0;
    padding: 0;
}

footer {
    display: block;
    text-align: center;
    padding: 10px;
}

.BucketList li{
    list-style: none;
}

.BucketItemText {

    width: 400px;
}