@using FacebookBucketlist.Web.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@model HomeModel
@{
    ViewBag.Title = "Friends Bucket List";
}

<h3>Welcome @Model.Name</h3>
<p>
    Create your bucket list and share it with your friends.
</p>
@Html.EditorFor(x=>x.Bucket)